/*----------------------
-----  F O N T
------------------------*/

@font-face {
  font-family: 'Avantgarde Regular';
  src: url('../../assets/fonts/texgyreadventor-regular.otf');
}


@font-face {
  font-family: 'Avantgarde Bold';
  src: url('../../assets/fonts/texgyreadventor-bold.otf');
}


